<ion-app>
  
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Donate To Hospitals dApp</ion-title>
      </ion-toolbar>
    </ion-header>
    <!--  -->
    <!-- <ion content fullscreen>
      
    </ion> -->
    <ion-content fullscreen>
        <ion-fab horizontal="end" vertical="bottom" slot="fixed">
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
              <ion-fab-button color="light">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="light">
                <ion-icon name="logo-twitter"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>


        <ion-item button [routerLink]="['/tab3Root']">
          <ion-label >
            Create Campaign
          </ion-label>
        </ion-item>

        <ion-card>
          <ion-img src='../../../assets/images/madison.jpg'></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Location</ion-card-subtitle>
              <ion-card-title>Facility Name</ion-card-title>
            </ion-card-header>
            <ion-card-content>
            The Donate to Hospitals dApp Sample Facility Template.
            </ion-card-content>
            <ion-button expand="block" (click)="load()">Donate</ion-button>
        </ion-card>

        <ion-card *ngFor="let item of images | async">
          <ion-card-content>
            <img [src]="item.filepath" />
            <a [href]="item.filepath" target="_blank" rel="noopener">Download</a>
          </ion-card-content>
        </ion-card>

        <ion-card *ngFor="let item of facilityList">
          <!-- <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/v4/src/demos/api/card/madison.jpg" /> -->
            <div *ngIf="UploadedFileURL | async as url">
              <img [src]="url" />
            
            </div>
            <ion-card-header>
              <ion-card-subtitle>{{item.Address}}</ion-card-subtitle>
              <ion-card-subtitle (click)="copyText()">{{item.Wallet}} </ion-card-subtitle> Click on Wallet Address to Copy
              
              <ion-card-title>{{item.Name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{item.Needs}}
            </ion-card-content>
            <ion-button expand="block" [routerLink]="['/donate']">Donate</ion-button>
        </ion-card>
    </ion-content>
  </ion-app>